@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@400;500;600;700&family=Prompt:wght@300&family=Roboto:wght@100;300;400;500;900&family=Warnes&display=swap');

html body {
  background-color: white;
  font-size: 1rem;
  font-family: 'Libre Bodoni', serif;
  }

  a:hover {
    color:#d83600!important;
  }
  ::-moz-selection { /* Code for Firefox */
    color: #012a7a;
    background: yellow;
  }
  ::selection {
    color: #012a7a;
    background: yellow;
  }

  header {
    min-width: 100vw;
    border-bottom: 2px solid #011840;
    box-shadow: 0 10px 10px -5px gray;
  }
/* NAV STYLING */
.navbar {
  min-width: 10vw;
  max-width: 10vw;
  font-size: 1.25rem;
  font-weight: bold;

}

.nav-link {
  color: #011840;
  background-color: white;
  border: 1px solid #d83600;
  text-align: center;
}

.emblem-text {
  font-size: 4rem;
  font-family: 'Libre Bodoni', serif;
  font-weight: 400;
  text-decoration: underline;
  text-decoration-color: #d83600;
  text-decoration-thickness: 3px;
  color: #011840;
  text-underline-position: under;
  /* background-color: #1D3C70; */

}


/* SPLASH PAGE STYLING */
.splash {
  min-width: 100vw;
}
.splash-left {
  padding: 0!important;

}
.splash-image {
  max-width: 50vw;
  /* min-height: 80vh; */
}
.splash-right {
  /* min-height: 90vh; */
  /* background-color: #012a7a; */
  border-left: 2px solid #011840;
  border-bottom: 3px solid #011840;
}
.splash-title {
  margin-top: 15vh;
  font-size: 3rem;
  font-weight: 200;
  font-family: 'Libre Bodoni', serif;
  color: #011840;
  /* text-decoration: underline;
  text-decoration-color: yellow;
  text-decoration-thickness: 3px;
  text-underline-position: under; */
}

.splash-paragraph {
  margin-top: 5vh;
  font-size: 1.5rem;
  color: #011840;
  z-index: 1;
}

.bottom-bar {
  min-height: 25vh;
  /* padding-top: 10vh; */
  background-color: #011840;
  border-top: 2px solid white;
  color:white;
}
.slogan {
  font-size: 3rem;
  text-decoration: underline;
  text-decoration-color: #d83600;
  text-underline-position: under;

}

.period {
  color:#d83600;
}

.quote-1 {
  border-left: 2px solid white;

}


/* SERVICES SECTION STYLING */
.services {
  min-height: 80vh;
  min-width: 100vw;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  background-color: #011840;
  color:white;
}
.sidebar {
  /* min-height: 80vh; */
  /* border-bottom: 2px solid white; */

}

.quote-2 {
  /* min-height: 80vh; */
}

.services-content {
  min-height: 80vh;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}

.services-title {
  margin-top: 5vh;
  font-size: 4rem;
  text-decoration: underline;
  text-decoration-color: #d83600;
  text-underline-position: under;
}

.services-paragraph {
  font-size: 1.5rem;
  margin-bottom: 7.5vh;
}

.contact-me {
  color: white;
}

.service-title {
  text-decoration: underline;
}

.service-paragraph {

}
.service-one {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background-color: #011840;
}

.service-two {
  border-bottom: 1px solid white;
}

.service-three {
  border-bottom: 1px solid white;
}


/* ABOUT SECTION STYLING */
.about {
  min-height: 100vh;
  min-width: 100vw;
  color: #011840;
}

.about-title-container {
  border-bottom: 2px solid #011840;
}
.about-title {
  font-size: 4rem;
  text-decoration: underline;
  text-decoration-color: #d83600;
  text-underline-position: under;
}

.about-typography {
  border-bottom: 2px solid #011840;
}
.typography-right {
  min-height: 70vh;
  border-left: 2px solid #011840;
  /* border-bottom:2px solid #011840; */
}
.about-john {
  font-size: 2.5rem;
  /* margin-left: 10%; */
}

.about-paragraph {
  /* max-width: 35vw; */
  font-size: 1.5rem;
  /* border-bottom: 2px solid #011840; */
}

.about-pic {
  padding: 0!important;
  max-width: 50vw!important;
  border-left: 2px solid #011840;
  border-bottom: 2px solid #011840;
  /* background-color: #011840; */
}
.about-acheivements {
  /* min-height: 50vh; */
  color: #011840;
}
.acheivement {
  min-height: 40vh;
  padding-top: 15vh;
  border: 1px solid #011840;
}

.acheivement-center {
  min-height: 40vh;
  background-color: #011840;
  color: white;
}

.acheivement-center-text {
  padding-top: 12vh;
  font-size: 4rem;
  text-decoration: underline;
  text-decoration-color: #d83600;
  text-underline-position: under;
}

.contact {
  min-height: 25vh;
  min-width: 100vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
  border-top: 2px solid white;
  background-color: #011840;
  color: white;
}
