@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@400;500;600;700&family=Prompt:wght@300&family=Roboto:wght@100;300;400;500;900&family=Warnes&display=swap');

html body {
  background-color: white;
  font-size: 1rem;
  font-family: 'Libre Bodoni', serif;
  }


  a:hover {
    color:#d83600!important;
  }
  ::-moz-selection { /* Code for Firefox */
    color: #012a7a;
    background: yellow;
  }
  ::selection {
    color: #012a7a;
    background: yellow;
  }

  .sheet {
    position: absolute;
    top: 0;
    background-color: #011840;
    height: 200vh;
    width: 100vw;
    z-index: 2;
    /* opacity: 0; */
    animation: reveal 2s;
    animation-fill-mode: forwards;
  }

  @keyframes reveal {
    0% {
      opacity: 1;
      transform: translateY(0%);
    }

    100% {
      opacity: 1;
      transform: translateY(-100%);
    }
  }

  header {
    min-width: 100vw;
    border-bottom: 2px solid #011840;
    /* box-shadow: 0 10px 10px -5px #011840; */
    /* background-color: #536FA1; */
  }

  .lineUp {
    animation: 3s anim-lineUp ease-out;
    animation-delay: 1.5s;
    animation-fill-mode: both;
  }

  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }


  /* NAV STYLING */
  .navbar {
    min-width: 10vw;
    max-width: 10vw;
    font-size: 1.25rem;
    font-weight: bold;
    animation: 2s anim-lineUp ease-out;
    animation-delay: 1s;
    animation-fill-mode: both;
  }

.nav-link {
  color: #011840;
  background-color: white;
  border: 1px solid #d83600;
  text-align: center;
}

.emblem-text {
  /* position: relative; */
  font-size: 4rem;
  font-family: 'Libre Bodoni', serif;
  font-weight: 400;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  /* text-decoration: underline;
  text-decoration-color: #d83600;
  text-decoration-thickness: 3px; */
  color: #011840;
  text-underline-position: under;
  animation: 1.5s color-underline ease-out;
  animation-delay: 1.5s;
  animation-fill-mode: both;

}

@keyframes color-underline {
  0% {
    /* width: 0%; */
    text-decoration-color: #011840;
  }
  /* 50% {
    text-decoration-color: orange;
  } */
  100% {

    text-decoration-color: #d83600;
    text-decoration-thickness: 3px;
  }
}


/* SPLASH PAGE STYLING */
.splash {
  min-width: 100vw;
}

.splash-left {
  padding: 0!important;

}

.splash-image {
  display: block;
  max-width: 50vw;
  animation: 1.5s move-left ease-in-out;
  animation-delay: .5s;
  animation-fill-mode: both;
}

@keyframes move-left {
  0% {
    opacity: 0;
    transform: translate(-10%, 2%);
    /* transform: skewY(20deg); */
    /* transform: translateY(150%); */
  }
  20% {

  }
  50% {

  }
  100% {

  }
}


.splash-right {
  /* border-left: 2px solid #011840; */
  border-bottom: 3px solid #011840;
  /* background-color: #536FA1; */
}

.splash-title {
  margin-top: 15vh;
  font-size: 3rem;
  font-weight: 200;
  font-family: 'Libre Bodoni', serif;
  color: #011840;
  animation: 2s anim-lineUp ease-out;
  animation-delay: .8s;
  animation-fill-mode: both;
}

.splash-paragraph {
  margin-top: 5vh;
  font-size: 1.5rem;
  color: #011840;
  animation: 2s anim-lineUp ease-out;
  animation-delay: .8s;
  animation-fill-mode: both;
}

.bottom-bar {
  min-height: 50vh;
  background-color: #011840;
  border-top: 2px solid white;
  color:white;
}

.slogan {
  padding-top: 15vh;
  font-size: 4rem;
  text-decoration: underline;
  text-decoration-color: #d83600;
  text-underline-position: under;
  margin-bottom: 10vh;
}

.period {
  color:#d83600;
}

.quote-1 {
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-top: 2px solid white;
  padding-top: 10vh;
  padding-bottom: 10vh;
}


/* SERVICES SECTION STYLING */
.services {
  min-height: 80vh;
  min-width: 100vw;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  background-color: #011840;
  color:white;
}

.quote-2 {
  min-height: 50vh;
  /* margin: unset; */
  padding-top: 10vh;
  /* border-top: 2px solid white; */
  border-bottom: 2px solid white;
}

.services-content {
  min-height: 80vh;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid #011840;
}

.services-title {
  padding-top: 10vh;
  padding-bottom: 10vh;
  font-size: 4rem;
  text-decoration: underline;
  text-decoration-color: #d83600;
  text-underline-position: under;
}

.service-list {
  /* margin-top: 10vh; */
  /* margin-bottom: 7.5vh; */
  /* max-width: 10vw; */
  font-size: 1.25rem;

}

.contact-me {
  color: white;
}

.service-title {
  padding-top: 3vh;
  text-decoration: underline;
}

.service-one {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background-color: #011840;
}

.service-two {
  border-bottom: 1px solid white;
}

.service-three {
  border-bottom: 1px solid #011840;
}


/* ABOUT SECTION STYLING */
.about {
  min-height: 100vh;
  min-width: 100vw;
  color: #011840;
}

.about-title-container {
  min-height: 20vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  border-bottom: 2px solid #011840;
}

.about-title {
  font-size: 4rem;
  text-decoration: underline;
  text-decoration-color: #d83600;
  text-underline-position: under;
}

.about-typography {
  border-bottom: 2px solid #011840;
}
.typography-left {
  border-bottom: 2px solid #011840;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.typography-right {
  min-height: 70vh;
  padding-top: 10vh;
  border-left: 2px solid #011840;
}

.about-john {
  font-size: 2.5rem;
}

.about-paragraph {
  font-size: 1.5rem;
}

.about-pic {
  padding: 0!important;
  max-width: 50vw!important;
  border-left: 2px solid #011840;
  border-bottom: 2px solid #011840;
}

.about-acheivements {
  color: #011840;
}

.acheivement {
  min-height: 40vh;
  padding-top: 15vh;
  border: 1px solid #011840;
}

.acheivement-center {
  min-height: 40vh;
  background-color: #011840;
  color: white;
}

.acheivement-center-text {
  padding-top: 12vh;
  font-size: 4rem;
  text-decoration: underline;
  text-decoration-color: #d83600;
  text-underline-position: under;
}
/* option: make a unique "a" element that is clickable, when it is clicked, it transitions to no overlay.
or: start with overlay and when hovered, it goes away. */
.gallery-caption {
  text-align: center;
}

/* .video-mask:hover {
  opacity: 0 !important;
  z-index: -1;
  pointer-events: none;
} */

.lets-talk {
  width: 100vw;
}

.contact {
  min-height: 25vh;
  min-width: 100vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
  border-top: 2px solid white;
  background-color: #011840;
  color: white;
}

.contact-link {
  color: white;
}

.contact-link:hover {
  color: #d83600;
}

/* Unused Colors
#536FA1
#1D3C70
*/