/* NAV STYLING */
.navbar {
  border-bottom: 1px solid black;
  font-size: 1.5rem;
  font-weight: 700;
}

.emblem-text {
  font-size: 1rem;
}

.sidebar {
  border-bottom: 1px solid black;
}

/* SPLASH PAGE STYLING */
.splash {
  min-height: 100vh;
}

.splash-content {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.splash-title {
  margin-top: 20vh;
  font-size: 5rem;
}

.splash-paragraph {
  margin-top: 5vh;
  font-size: 2rem;
}

/* SERVICES SECTION STYLING */
.services {
  min-height: 100vh;
  border-top: 1px solid black;
}

.services-content {
  min-height: 100vh;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.services-title {
  margin-top: 5vh;
  font-size: 4rem;
}

.services-paragraph {
  font-size: 1.5rem;
  margin-bottom: 7.5vh;
}

.service-one {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.service-two {
  border-bottom: 1px solid black;
}

.service-three {
  border-bottom: 1px solid black;
}

/* ABOUT SECTION STYLING */
.about {
  min-height: 100vh;
  border-bottom: 1px solid black;
}

.about-title-container {
  border-bottom: 1px solid black;
}
.about-title {
  font-size: 4rem;
}

.about-pic {
  padding-top: 10vh;
}

.about-typography {
  border-left: 1px solid black;
  min-height: 100vh;
  padding-top: 15vh;
}
.about-john {
  font-size: 3rem;
}

.about-paragraph {
  font-size: 2rem;
}

/* REFERENCE SECTION STYLING */
.reference {
  min-height: 50vh;
  padding-bottom: 10vh;
}

.contact {
  min-height: 25vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  border-top: 1px solid black;
}
